label{
    display: block;
    margin-bottom: 10px;
    text-align: right;
    width:250px;
    /* border: 2px solid; */
    
}

label input{
    /* justify-content: space-between; */
}

.Name{
    /* margin-left: 22px; */
}