nav > ul > li {
  margin: 20px;
  display: inline-block;
  font-size: 1em;
}

header > nav {
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(13, 184, 227, 0.571),
    aqua,
    rgb(0, 42, 255)
  );
}

nav li > a {
  text-decoration: none;
  color: black;
}

body > footer > p {
  text-align: right;
  margin-top: 200px;
}

aside{
    text-align: justify;
    width:20%;
    height: 100%;
    float: right;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color:darkgray;
    padding: 20px;
}
